.storybook-header {
  font-family: 'PT Sans', sans-serif;
  color: white;
  text-transform: uppercase;
  margin-top: 1rem;
}

.storybook-header--small {
  font-size: 1rem;
}

.storybook-header--medium {
  font-size: 1.2rem;
}

.storybook-header--large {
  font-size: 1.7rem;
}
