.storybook-input {
  background-color: unset;
  border: 1px solid #00ffff;
  color: #00ffff;
  padding: 10px;
  margin: 0 !important;
}

input::placeholder {
  color: #00ffff;
  text-transform: uppercase;
}

.storybook-input:focus {
  outline: none !important;
  border: 1px solid #00ffff;
}

.storybook-input--small {
  font-size: 12px;
  padding: 10px;
}

.storybook-input--medium {
  font-size: 14px;
  padding: 11px 20px;
}

.storybook-input--large {
  font-size: 16px;
  padding: 12px 24px;
}