.text {
  font-family: 'PT Sans', sans-serif;
  line-height: 1.8rem;
  background-color: #3f3734;
  font-weight: 500;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.text-place {
  margin-bottom: 20px;
}

p {
  font-size: 0.9rem;
  margin: 0;
}